<li class="hotel-cluster" ng-repeat="(index, hotel) in hotels">
  <div class="carousel">
    <div class="gift">
      <span>50% OFF</span>
    </div>
    <div class="carousel-image" style="background-image: url('./app/images/cluster_{{index}}.jpg')"></div>
  </div>

  <div class="hotel-data">
    <h2 class="name">{{hotel.name}}</h2>
    <p class="stars">
      <span ng-repeat="i in getStars(hotel.stars) track by $index">
        <i class="fa fa-star yellow" aria-hidden="true"></i>
      </span>
    </p>
    <p class="mealplan">
      <i class="fa" ng-class="mapMealplan(hotel.mealplan)[0]" aria-hidden="true"></i>
      {{mapMealplan(hotel.mealplan)[1][1]}}
    </p>
    <p>
      <span ng-repeat="i in getAmenitiesLength(hotel.amenities) track by $index">
        <i class="fa" ng-class="mapAmenities(hotel.amenities)[$index]" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div class="hotel-price">
    <p class="price-text">Precio por noche por habitación</p>
    <p class="price"><span class="currency">ARS</span> {{hotel.price}}</p>
    <p class="promo-text">Precio sin promo ARS <strong>{{hotel.price + 358 }}</strong></p>
    <p class="tax-text">Impuestos y tasas no incluídos</p>
    <a class="hotel-detail">Ver hotel</a>
    <p class="payment-extra">Pagá en cuotas</p>
    <p class="payment-extra">Pagá en destino</p>
  </div>
</li>
<img src="./app/images/cluster_{{index}}.jpg" alt="{{hotel.name}}"/>
