<nav class="breadcrumb">
  <ul class="breadcrumb-list">
    <li>Home</li>
    <li> / Hoteles</li>
    <li> / Madrid</li>
  </ul>
</nav>

<div class="search-summary">
  <div class="summary-wrapper">
    <p>Hoteles disponibles para:</p>
    <ul class="summary">
      <li class="location">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
         Madrid
      </li>
      <li class="checkin-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
         15/3/2017
      </li>
      <li class="ckeckout-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
         21/3/2017
      </li>
      <li class="guests">
        <i class="fa fa-user"></i>
         2 huéspedes
      </li>
      <li class="rebusqueda">
        <a>Modificar búsqueda</a>
      </li>
    </ul>
  </div>
</div>

<div class="sort-hotels">
  <label for="sort">Ordenar</label>
  <select id="sort">
    <option value="recommended">Más relevantes</option>
    <option value="price-ASC">Precio más bajo</option>
    <option value="price-DESC">Precio más alto</option>
    <option value="stars-ASC">Menos estrellas</option>
    <option value="stars-DESC">Más estrellas</option>
  </select>
</div>
